
body {
    padding: 0;
    margin: 0;
    font-family: "Protest Revolution", sans-serif;
}
.Container_grid{
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-areas:
                        "header"
                        "section"
                        "main"
                        "aside"
                        "footer"
                        ;
                        
}
/* ------------------------------------------------------------------------
-------------------------------------------------------- */
#cabecera{
    top:0;
    left:0;
    position:fixed;
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 17, 0);
    height: 70px;
    
    
}
#cabecera_milogo{
   margin: 0px 0 0px 20px;
   border-radius: 48%;
   width: 60px;
   height: 55px;
  /*  box-shadow: 0 0 30px rgb(217, 228, 115); */
   filter: drop-shadow(0 0 10px rgb(217, 228, 115));
   
}

#cabecera_burger{
    margin: 10px 20px 10px 0;
    color: aliceblue;
}
#cabecera_navbar{
    display: none;
}
/* ----------------------------------------------------------- */
/*----------------------- Hero-section----------------------- */
#hero{
    grid-area: section;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    align-items: center;
    margin-top: 60px;
   background-image: url(../img/fondoHeroSection.jpg);
   background-size: cover;
   background-position: center;
}
/*---------------------------------  */
/* -------------- ABOUT ME.-------- */
.hero_aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10px;
}
/* titulo */
.hero_aboutme h1{
    margin: 20px 0 0 0;
    font-weight: 300;
}
/* imagen */
#hero img{
    width: 100%;
    height: 250px;
    mask-image: linear-gradient(
        black 85%,
        transparent
    );
    filter: drop-shadow(0 0 40px rgb(217, 228, 115));
   /*  box-shadow: 0 0 10px rgba(0, 0, 0, .5); */
}
#hero p{
    margin: 1px 0 0 0;
    text-align: center;
    font-weight: 300;
}
/* -------------------------------- */
/* -------------- ICONOS-------- */
.hero_iconos{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
/* Iconos REDES SOCIALES */
.hero_iconos_social{
    display: flex;
    list-style: none;
    padding: 0px;
    gap:15px;
    
}
.hero_iconos_social li{
    
}
/* Iconos HERRAMIENTAS */
.hero_iconos_tools{
    display:flex;
    list-style: none;
    padding: 0;
    gap:15px
}
.hero_iconos_tools li{
    
}
.hero_contacto{
    width: 100%;
    height: 100px;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
}
.hero_contacto button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(217, 228, 115);
    color: whitesmoke;
}
/* --------------------------------------------------------------------------------
------------------------      CUERPO    ---------------------------------------- */
#cuerpo{
    grid-area: main;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
/* ----------------------------------------------------------- */
/*-------------------Educación section ----------------------*/
#cuerpo_educacion{
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.cuerpo_educacion_cards{
    width: 90%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuerpo_educacion_cards .cuerpo_educacion_cards_card{
    width: 100%;
    min-height: 100%;
}
#formulario{
    grid-area: aside;
}

